apiVersion: apps/v1
kind: Deployment
metadata:
  name: pfa-app
  labels:
    app: my-app
  namespace: jenkins
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app-container
        image: zakariamestour/jenkins-demo:DOCKER_IMAGE_TAG
        ports:
        - containerPort: 8080
        imagePullPolicy: Always
